{% extends "realestate/base.html "%}

{% block header %}{% endblock header %}

{% block footer %}

<div class="company d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="clo-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">Company</h1>
        <p class="text-white">
        </p>
      </div>
    </div>
  </div>
</div>

<main>

  <section>

    <div class="col-md-8 mx-auto text-center">
      <h2>企業情報</h2><br>
      <table class="ta1 mt-2">
        <tr>
          <th>社名</th>
          <td>株式会社LOGO</td>
        </tr>
          <th>電話番号</th>
          <td>00-0000-0000</td>
        </tr>
        <tr>
          <th>設立</th>
          <td>xxxx/yy</td>
        </tr>
        <tr>
          <th>事業内容</th>
          <td nowrap>・--------------<br>
          ・--------------<br>
          ・--------------<br>
          ・--------------</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>〒107-0052  東京都港区赤坂6-5-28 ヴェルディ赤坂2F</td>
        </tr>
          <th>アクセスマップ

          </th>
          <td><a href="https://template-party.com/file/pickup_googlemap.html"></a><br>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.3395511711!2d139.7237174155271!3d35.66864038019729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b7dc3a58323%3A0xfd2319c7f03061ac!2z44CSMTA3LTAwNjIg5p2x5Lqs6YO95riv5Yy65Y2X6Z2S5bGx77yR5LiB55uu77yR77yV4oiS77yS77yX!5e0!3m2!1sja!2sjp!4v1657761744496!5m2!1sja!2sjp"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </td>
        </tr>
      </table>

  </section>

</main>


{% endblock footer %}